.container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text within its container */
  }
  
  .image-container {
    margin-right: 20px; /* Adjust the margin as needed */
  }
  .image-container1 {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  img {
    max-width: 100%; /* Make sure the image is responsive */
  }
  
  .text-container {
    max-width: 600px; 
    text-align: left;/* Adjust the max-width as needed */
  }
  